<ion-content>
    <div class="container">
        <div class="header">
            <ion-buttons slot="start">
                <ion-back-button default-href="/onboarding"></ion-back-button>
            </ion-buttons>
            <span class="title3">Forgot Password</span>
        </div>

        <div class="content">
            <span class="message title2">
                Don't worry. <br />
                Enter your email and we'll send you a link to reset your
                password.
            </span>
            <ion-input
                mode="md"
                label="Email"
                fill="outline"
                type="email"
                label-placement="floating"
                placeholder="Enter an email"
                errorText="Please enter a valid email"
                [formControl]="email"
                [clearInput]="true"
            ></ion-input>
            <ion-button
                expand="block"
                size="large"
                class="continue title3"
                [disabled]="email.invalid || isSubmitting"
                (click)="resetPassword()"
            >
                Continue
            </ion-button>
        </div>
        <app-toast
            [message]="toastMessage"
            [showError]="isFailed"
            *ngIf="isFailed"
        />
    </div>
</ion-content>
