ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 72%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6%;
}

.title3 {
    margin-right: 48px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 5vh 10px;
    gap: 40px;
}

.message {
    text-align: start;
}

.continue {
    --background: var(--btn-primary);
}