<ion-content>
    <div class="container">
        <div class="header">
            <ion-buttons slot="start">
                <ion-back-button default-href="/onboarding"></ion-back-button>
            </ion-buttons>
            <span class="title3">Login</span>
        </div>

        <form>
            <div class="content">
                <div class="inputs">
                    <ion-input
                        mode="md"
                        label="Email"
                        fill="outline"
                        type="email"
                        label-placement="floating"
                        placeholder="Enter an email"
                        errorText="Please enter a valid email"
                        [clearInput]="true"
                        [formControl]="email"
                        (keydown.enter)="login()"
                    ></ion-input>
                    <ion-input
                        mode="md"
                        label="Password"
                        label-placement="floating"
                        fill="outline"
                        placeholder="Enter a password"
                        errorText="Password must be at least 6 characters"
                        type="password"
                        (ionInput)="onPasswordChange($event)"
                        [formControl]="password"
                        (keydown.enter)="login()"
                    >
                        <ion-input-password-toggle
                            *ngIf="showPassword"
                            slot="end"
                        ></ion-input-password-toggle>
                    </ion-input>
                </div>
                <div class="btns">
                    <ion-button
                        expand="block"
                        size="large"
                        class="login title3"
                        [disabled]="
                            email.invalid || password.invalid || isSubmitting
                        "
                        (click)="login()"
                    >
                        Login
                    </ion-button>
                    <span
                        class="forgot title3"
                        [routerLink]="['/forgot-password']"
                    >
                        Forgot password?
                    </span>
                    <span class="or-with">Or with</span>

                    <ion-button
                        expand="block"
                        size="large"
                        class="google title3"
                    >
                        <ion-icon
                            slot="start"
                            src="assets/images/google.svg"
                        ></ion-icon>
                        Sign Up with Google
                    </ion-button>
                    <span class="already">
                        Don't have an account yet?
                        <a href="#" [routerLink]="['/signup']">Sign up</a></span
                    >
                </div>
            </div>
        </form>
    </div>
    <app-toast
        [message]="toastMessage"
        [showSuccess]="isLoginSuccessful"
        [showError]="isLoginFailed"
        *ngIf="isLoginSuccessful || isLoginFailed"
    />
</ion-content>
