<ion-content>
    <div class="container">
        <div class="header">
            <ion-buttons slot="start">
                <ion-back-button default-href="/onboarding"></ion-back-button>
            </ion-buttons>
            <span class="title3">Sign Up</span>
        </div>

        <div class="content">
            <div class="inputs">
                <ion-input
                    mode="md"
                    label="Name"
                    label-placement="floating"
                    fill="outline"
                    placeholder="Enter a name"
                    [clearInput]="true"
                >
                </ion-input>
                <ion-input
                    mode="md"
                    label="Email"
                    fill="outline"
                    type="email"
                    label-placement="floating"
                    placeholder="Enter an email"
                    [clearInput]="true"
                ></ion-input>
                <ion-input
                    #passwordInput
                    mode="md"
                    label="Password"
                    label-placement="floating"
                    fill="outline"
                    placeholder="Enter a password"
                    helperText="Password must be at least 6 characters"
                    type="password"
                    [clearOnEdit]="false"
                    (ionInput)="onPasswordChange($event)"
                >
                    <ion-input-password-toggle
                        *ngIf="showPassword"
                        slot="end"
                    ></ion-input-password-toggle>
                </ion-input>
            </div>
            <ion-checkbox labelPlacement="end">
                <span class="ion-text-wrap terms">
                    By signing up, you agree to the
                    <a href="#" (click)="$event.stopPropagation()">
                        Terms of Service and Privacy Policy
                    </a>
                </span>
            </ion-checkbox>
            <div class="btns">
                <ion-button expand="block" size="large" class="signup title3">
                    Sign Up
                </ion-button>
                <span class="or-with">Or with</span>
                <ion-button expand="block" size="large" class="google title3">
                    <ion-icon
                        slot="start"
                        src="assets/images/google.svg"
                    ></ion-icon>
                    Sign Up with Google
                </ion-button>
                <span class="already">
                    Already have an account?
                    <a href="#" [routerLink]="['/login']">Login</a></span
                >
            </div>
        </div>
    </div>
</ion-content>
