ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --overflow: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6%;
}

.title3 {
    margin-right: 48px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 5vh 10px;
    gap: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 5vh;
}

ion-checkbox {
    width: 100%;
    --background: var(--light-gray);
    --border-color: var(--primary);
    font-size: 14px;
}

.terms {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.signup {
    --background: var(--btn-primary);
}

.google {
    fill: none;
    --color: var(--black);
    --background: var(--white);
    --box-shadow: none;
    --border-width: 1px;
    --border-color: var(--light-gray);
    --border-style: solid;
}

.google ion-icon {
    font-size: 32px;
}

.or-with {
    font-family: "Inter";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: var(--gray);
}

.already {
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--gray);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: -20px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-items: center;
}

li {
    color: var(--gray);
    display: flex;
    width: 100%;
    margin: 10px 0;
}

li.valid {
    color: green;
}

li > ion-icon {
    margin-right: 8px;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px;
}