ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 90%;
    justify-content: space-between;
    padding: 0 20px;
}

.message{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ion-img {
    min-height: 312px;
    height: 60vw;
    margin: 0 auto;
}

.body {
    color: var(--black);
    padding: 0;
}

.email {
    color: var(--primary);
}

.continue {
    --background: var(--btn-primary);
}
