<ion-content>
    <div class="container">
        <div class="header">
            <ion-buttons slot="start">
                <ion-back-button default-href="/onboarding"></ion-back-button>
            </ion-buttons>
            <span class="title3">Reset Password</span>
        </div>

        <div class="content">
            <div class="inputs">
                <ion-input
                    #passwordInput
                    mode="md"
                    label="New password"
                    label-placement="floating"
                    fill="outline"
                    placeholder="New password"
                    helperText="Password must be at least 6 characters"
                    type="password"
                    [clearOnEdit]="false"
                    (ionInput)="onPasswordChange($event)"
                >
                    <ion-input-password-toggle
                        *ngIf="showPassword"
                        slot="end"
                    ></ion-input-password-toggle>
                </ion-input>
                <ion-input
                    #passwordInput
                    mode="md"
                    label="Retype password"
                    label-placement="floating"
                    fill="outline"
                    placeholder="Retype password"
                    type="password"
                    [clearOnEdit]="false"
                    (ionInput)="onPasswordChange($event)"
                >
                    <ion-input-password-toggle
                        *ngIf="showPassword"
                        slot="end"
                    ></ion-input-password-toggle>
                </ion-input>
            </div>
            <ion-button
                expand="block"
                size="large"
                class="continue title3"
                (click)="resetPassword()"
            >
                Continue
            </ion-button>
        </div>
    </div>
</ion-content>
